<%- include("partials/header"); %>

<div class="row news-app-container">
  <%- include("partials/categories"); %>

  <div class="col-lg-10 section-spacing">
    <h3 id="section-title">Top stories</h3>
    <div class="row news-content-container">
      <% const newsCards = articles.value %>

      <!-- prettier-ignore -->
      <% newsCards.forEach((card, index) => { %>
      <div class="col-lg-4 headline-news-section">
        <img src="<%- card.image.url + "&w=500&p=0" %>" />

        <div class="headline-text">
          <h4>
            <a href="<%- card.webSearchUrl %>"> <%- card.name %></a>
          </h4>
          <div class="headeline-image-src">
            <%- card.image.provider[0].name %>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<script src="/js/script.js"></script>

<%- include("partials/footer"); %>
