<%- include("partials/header"); %>

<div class="app-container">
  <%- include("partials/categories"); %>

  <div class="news-content">
    <h2 class="news-content__title">Top stories</h2>
    <div class="row">
      <% const newsCards = articles.value %>

      <!-- prettier-ignore -->
      <% newsCards.forEach((card, index) => { %>
      <div class="col-lg-4 news-content__card">
        <img class="news-content__card--image" src="<%- card.image.url +
        "&w=500&p=0" %>" />

        <div class="news-content__card--text">
          <h3 class="news-content__card--text-heading">
            <a class="news-content__card--link" href="<%- card.webSearchUrl %>">
              <%- card.name %></a
            >
          </h3>
          <p class="news-content__card--provider">
            <%- card.image.provider[0].name %>
          </p>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<script src="/js/script.js"></script>

<%- include("partials/footer"); %>
